body{
	padding: center;
    background-image: url("bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
	width: 100%;
	height: 100%;
}

.row{
	display: flex;
	flex-direction: column;
}

.col{
	display: flex;
	margin-bottom: 15px;
	font-size: larger;
}

.col2{
	display: flex;
	margin-left: 15px;
	margin-bottom: 15px;
	font-size: larger;
	height: 46vh;
}

.col2 th{
	background-color: black; 
	position : sticky;
	color: white;
}

.col2 tbody{
	background-image:url("bg2.jpg");
	color: black;
}

.col3{
	align-items: center;
	background-color: bisque;
	display: flex;
	border: 2px solid grey;
	border-radius:7px;
}

.tNomor{
	width: 25px;
}

.tNama{
	width: 305px;
}

.tUmur{
    text-align: center;
}

.tAlamat{
	width: 200px;
}

.tdAction{
    text-align: center;
    justify-content: space-evenly;
}

.tombol{
	margin-top: 5px;
	margin-bottom: 5px;
}

.alamat{
    width: 225px;
    height: 75px;
}

.table1{
    background-image:url("bg1.jpg");
}

.header{
    text-align: center;
    background-color: ghostwhite;
    font-size: xx-large;
    color: black;
    font-weight: bold;
}

label{
	color: white;
}

.cari{
	width: 150px;
}

.paging{
	text-align: right;
	padding-right: 50px;
}